@font-face {
	font-family: Orbitron;
	src: url(orbitron-medium.otf);
}

.clock {
	position: fixed;
	top: 32px;
	left: 643px;
	/* transform: translateX(-50%) translateY(-50%); */
	color: #17D4FE;
	font-size: 29px;
	font-family: Orbitron;
	letter-spacing: 7px;

}
